@model IEnumerable<Veterinaria.Models.Medico_veterinario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medico_especialidad.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Medico_especialidad.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDMedico }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDMedico }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDMedico })
        </td>
    </tr>
}

</table>
